{
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "proseWrap": "always",
  "endOfLine": "auto"
}
